.container {
  margin:0;
  box-sizing: border-box;
  margin:15px;
}
.cards-holder {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}